.login {
    margin-top: 5rem;
}

.helper-text {
    margin-top: -0.25rem;
    color: #004c90;
}

.nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.notes {
    font-style: italic;
    color: #13d63f;
}

.modal.show {
    display: inherit;
}

.btn-dark {
    background-color: #034f9a;
    border-color: #034f9a;
}